.tab {
    width: 49%;
    background: #ffffff;
    border-radius: 8px;
    padding: 18px;
}

.number {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #f2f4f7;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
    padding: 3px 0;
    position: relative;
    bottom: 2px;
}

.title {
    font-weight: 500;
    font-size: 18px;
    color: #293329;
}
